Airy.mp4
Aprendizaje_Profundo_Proyecto.pdf
FRS-using-deep-learning-master.zip
FRS-using-deep-learning-master/
Karly.mp4
Karly2.mp4
Raul.mp4
Roberto.mp4
Yair.mp4
data/
data2/
data4/
fashion.py 
flowers.py
imagenes/
luz1.mp4
modF1.jpg
model1.h5
model2.h5
model3.h5
model5.h5
model6.h5
model7.h5
model8.h5
modelFinal.h5
modelFinal2.h5
molf2.jpg
proyectoDeep.zip
resultados.jpg
test.py
test2.py
testsize.py
face_23.jpg
collage.jpg
Rostro.jpg
RostroR.JPG
generate.py
Facecnn.py
faceRecog.py
generate.py
Panorama5.jpg
